figure {
  margin: 0px;
  padding: 0 2px;
}
figure p {
  margin: 0px;
  font-style: italic;
  font-size: small;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
/* Default:  Create three equal columns that sits next to each other */
.col3 {
  -ms-flex: 33%;
  flex: 33%;
  max-width: 33%;
}
.col3 img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of three columns to ensure the picture is never *narrower* than 240 pixels, 720 = 3*240 */
@media screen and (max-width: 720px) {
  .col3 {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other 480 = 2*240 */
@media screen and (max-width: 480px) {
  .col3 {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
} 
